.image-gradient-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(74,162,230,0.4) 0%, rgba(20,105,181,0.4) 100%);
    z-index: 1;
}

.image-gradient-wrapper img {
    z-index: 0;
}
